Jupyter notebook title1

Hello, Welcome to my Jupyter note book. I'm Mohammed, this is my introduction.

An ordered list of data science languages:
- R
- Python
- Julia

An ordered list of data science libraries:
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- PyTorch

Table of data science tools:
| Tool         |
|--------------|
| Jupyter      | 
| VS Code      | 
| Tableau      | 
| SQL          |

Ex7. This will be an introduction to arithmetic expressions

In [8]:
#This is an example to multiply
result_multiply = 10 * 10
#This is an example to add
result_add = 10 + 10

result_multiply, result_add

(100, 20)

In [9]:
#to conver minutes to hours:
minutes = 180
hours = minutes / 60
hours

3.0

This is Ex10. Unordered list.
To Explore data science languages and libraries.
To Understand basic arithmetic expressions in Python.
To Perform simple mathematical operations.
To Convert units in Python.

This Jupyter notebook was created by Mohammed Z.